ul {
    list-style-type:none;
}

li {
    color: red;
    padding-top: 0.5rem;
}

.pagination {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    color: rgb(49, 176, 214);
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: black;
}